/*CSS authored by Vibhu Tiwari*/
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    overflow: hidden;
}

.wrap  {
    height: 300px;
    padding: 5%;
}

#sliderContainer {
    position: relative;
    background: #fff;
    width: 95%;
    height: 100%;
}

#sliderContainer ul {
    margin: 0;
    position: relative;
    display: block;
    height: 100%;
}

#sliderContainer li {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    overflow: hidden;
    text-align: center;
    padding: 10px 10px 10px 10px;
    background: #eee;
    font-size: 24px;
    color: #000;
    border: 1px solid #fff;
    border: 1px solid #dfdfdf;
    border: 1px solid rgba(96, 96, 96, 0.2);
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#sliderContainer li h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .2);
}

#sliderContainer li.pane1 {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

#sliderContainer li.pane2 {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

#sliderContainer .like,
#sliderContainer .dislike {
    background: url("../img/like.png") no-repeat scroll 0 0;
    opacity: 0;
    height: 80px;
    position: absolute;
    width: 170px;
    left: 45px;
    top:40px;
    z-index: 1;
    overflow: hidden;
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#sliderContainer .dislike {
    right: 45px;
    left: auto;
    background: url("../img/dislike.png") no-repeat scroll 0 0;
}

#sliderContainer .img {
    height: 90%;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
    -webkit-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0%,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0%,0,0) scale3d(1,1,1);
    transform: translate3d(0%,0,0) scale3d(1,1,1);
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform-style: preserve-3d;
}


#sliderContainer .pane1 .img {
    background: url("../images/main/adventure/0.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane2 .img {
    background: url("../images/main/adventure/1.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane3.img {
    background: url("../images/main/adventure/2.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane4 .img {
    background: url("../images/main/adventure/3.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane5 .img {
    background: url("../images/main/adventure/4.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane6 .img {
    background: url("../images/main/food/0.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane7 .img {
    background: url("../images/main/food/1.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane8 .img {
    background: url("../images/main/food/2.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane9 .img {
    background: url("../images/main/food/3.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane10 .img {
    background: url("../images/main/history/0.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane11 .img {
    background: url("../images/main/history/1.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane12 .img {
    background: url("../images/main/history/2.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane13 .img {
    background: url("../images/main/history/3.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane14 .img {
    background: url("../images/main/history/4.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane15 .img {
    background: url("../images/main/history/5.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane16 .img {
    background: url("../images/main/music/0.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane17 .img {
    background: url("../images/main/music/1.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane18 .img {
    background: url("../images/main/music/2.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane19 .img {
    background: url("../images/main/music/3.jpg") no-repeat scroll center center;
    background-size: cover;
}
#sliderContainer .pane20 .img {
    background: url("../images/main/music/4.jpg") no-repeat scroll center center;
    background-size: cover;
}